@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Inter", "sans-serif";
}

::-webkit-scrollbar {
  width: 8px; /* Yatay scroll için: height */
  height: 8px; /* Dikey scroll için: width */
}

/* Scroll çubuğunun arka plan rengini ayarlamak */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track (arkaplan) rengi */
}

/* Scroll çubuğunun kendisinin rengini ayarlamak */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb (kendi) rengi */
  border-radius: 10px; /* Kenarları yuvarlatmak */
}

/* Scroll thumb üzerine geldiğinde renk değişikliği */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
